@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

ul,
ol {
  list-style: none;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

header {
  margin-top: 60px;
}

header h1 {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
  
}

.logo {
  max-width: 100%;
}
